h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    margin-top: .8rem;
}

* {
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
    /* break line */
}

main {
    max-width: 100vw;
    overflow-x: hidden;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    margin-top: 2rem;
}

h2:hover {
    text-decoration: none !important;
}

.line {
    border-bottom: 1px solid #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2:hover ::before {
    /* dont use content */
    content: none;
    /* add a # */
}

h3 {
    font-size: 1.17em;
    margin-top: 1.5rem;
}

ul {
    margin-bottom: .5em;
    list-style-type: disc;
    list-style-position: outside;
}

li {
    margin-left: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

mark {
    background-color: rgb(255, 255, 0);
    color: #000;
    padding-left: .1rem;
    padding-right: .1rem;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

pre {
    background-color: #f4f4f415;
    padding: .5rem;
    overflow-x: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

u {
    text-decoration: underline;
}

strong {
    font-weight: 600;
}

br {
    margin-bottom: 1rem;
}

ol {
    margin-left: .5rem;
    margin-bottom: .5em;
    list-style-type: decimal;
    list-style-position: outside;
}

blockquote {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    border-left: 3px solid #000;
}

blockquote p {
    margin-top: .5rem;
    margin-bottom: .5rem;
}