.prose a {
        overflow-wrap: break-word;
}


.prose img {
        /* max-width: 100%; and 80vw */
        max-width: min(100%, 50rem);
        height: auto;
        border-radius: 0.5rem;
        display: inline;
}

* {
        scroll-behavior: smooth !important;
}

.prose pre code::before {
        content: "";
        margin-bottom: calc(0.25rem * 4);
        display: block;
        height: calc(0.25rem * 3);
        width: calc(0.25rem * 3);
        border-radius: calc(infinity * 1px);
        opacity: 30%;
        box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
        margin-left: -1rem;
}

/* line numbers */
/* <span class="line" line="1"></span> */

.prose code span.line::before {
        content: attr(line);
        display: inline-block;
        width: 2.5rem;
        text-align: right;
        color: var(--text-secondary);
        opacity: 0.5;
        margin-right: 1rem;
        margin-left: -4.5rem;
}

.prose code span.line {
        padding-left: 2.5rem;
}

/* .prose code span.line */

math {
        width: fit-content;
        margin-bottom: 1rem;
        margin-top: 1rem;
}

/* .prose pre {
        width: fit-content;
        max-width: 100%;
        min-width: 50rem;
} */
/* .prose {
        max-width: 80ch;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
} */
 /* TODO: fix layout */

.katex-html {
        font-size: .8rem;
        opacity: .8;
}

.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
        scroll-margin-top: 6rem;
}

/* a inside h1, h2... no underline */
.prose h1 a, .prose h2 a, .prose h3 a, .prose h4 a, .prose h5 a, .prose h6 a {
        text-decoration: none;
        color: inherit;
}

/* add a '#' after the h1, h2... on hover */
.prose h1 a:hover::after, .prose h2 a:hover::after, .prose h3 a:hover::after, .prose h4 a:hover::after, .prose h5 a:hover::after, .prose h6 a:hover::after {
        content: "#";
        margin-left: 0.5rem;
}

.prose pre code {
        display: block;
        overflow-x: scroll;
}

/* mark */
mark {
        background-color: var(--color-accent);
}